@import "../../base/base";
@import "../../themes/variables";

.job-detail {
  padding: 30px 0;
  position: relative;
  &-link {
    margin-bottom: 10px;
    a {
      font-size: 16px;
      color: rgb(68, 110, 231);
      &:hover {
        text-decoration: underline;
      }
    }
    svg {
      margin: 0 7px;
      width: 12px;
      height: 12px;
    }
  }
  &-info {
    color: #62646a;
    .job-title {
      color: #404145;
      font-size: 28px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    .job-img {
      overflow: hidden;
      img {
        transition: all 0.5s ease;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
    .seller-overview {
      .seller-name {
        text-transform: capitalize;
        color: #404145;
        cursor: pointer;
        font-weight: 700;
        &:hover {
          text-decoration: underline;
        }
      }
      .seller-level {
        font-weight: 500;
      }
      .seller-star-rating {
        &::before {
          color: #c5c6c9;
          content: "|";
          margin-right: 9px;
        }
        &::after {
          color: #c5c6c9;
          content: "|";
          margin-left: 9px;
        }
      }
      .seller-ordered {
        color: #95979d;
        font-weight: 500;
      }
    }
    .job-description {
      h2 {
        font-size: 20px;
        color: #404145;
        font-weight: 700;
        margin-bottom: 30px;
      }
      .description {
        color: #62646a;
        font-size: 500;
        font-size: 18px;
        padding-bottom: 20px;
        border-bottom: 1px solid #c5c6c9;
      }
    }
    .about-seller {
      h2 {
        font-size: 20px;
        color: #404145;
        font-weight: 700;
        margin-bottom: 30px;
      }
      .profile {
        &-label {
          .seller-name {
            text-transform: capitalize;
            color: #62646a;
            cursor: pointer;
            font-weight: 700;
            font-size: 18px;
            margin-bottom: 4px;
          }
          p {
            font-weight: 500;
            font-size: 16px;
            color: #62646a;
            margin-bottom: 4px;
          }
          .seller-star-rating {
            .star {
              svg {
                margin-bottom: 3.5px !important;
              }
            }
          }
          .contact {
            margin-top: 20px;
            padding: 8px 24px;
            border-radius: 5px;
            font-weight: 600;
            border: 1px solid #74767e;
            background-color: transparent;
            color: #74767e;
            transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
            &:hover {
              background-color: #74767e;
              color: #fff;
            }
          }
        }
      }
    }
    .FAQ {
      h2 {
        font-size: 20px;
        color: #404145;
        font-weight: 700;
        margin-bottom: 30px;
      }
      ul {
        margin: 0;
        padding: 0;
        li {
          list-style: none;
          position: relative;
          padding: 0 0 25px 0px;
          margin: 0 0 15px 0;
          background: #ffffff;
          h3 {
            font-size: 16px;
            font-weight: 600;
            color: #62646a;
          }
          input {
            position: absolute;
            cursor: pointer;
            width: 100%;
            height: 100%;
            z-index: 1;
            opacity: 0;
            top: 0;
            left: 0;
            overflow: visible;
            &:checked ~ p {
              opacity: 0;
              max-height: 0;
            }
            &:checked ~ svg {
              transform: rotate(90deg);
            }
          }
          svg {
            position: absolute;
            transform: rotate(-90deg);
            margin-top: 16px;
            right: 0;
            top: -12px;
            fill: #74767e;
            width: 14px;
            height: 14px;
            transition: all ease 0.3s;
          }

          p {
            margin-top: 14px;
            font-size: 16px;
            font-weight: 500;
            overflow: hidden;
            opacity: 1;

            z-index: 2;
            transition: all 0.3s ease;
          }
        }
      }
    }
    .rating-section {
      .review-count {
        .count {
          h2 {
            font-size: 20px;
            font-weight: 700;
            color: #404145;
          }
        }
        .sort {
          .pre-title {
            color: #74767e;
            font-size: 16px;
            line-height: 22px;
            font-weight: 600;
            padding: 0 10px;
          }
          select {
            padding-right: 5px;
            color: #222325;
            outline: none;
            cursor: pointer;
            border: none;
            font-weight: 500;
            font-size: 16px;
          }
        }
      }
      .review-rating {
        .stars-counters {
          .star-title-container {
            width: 20%;
            button {
              margin-bottom: 5px;
              border: none;
              border-radius: 5px;
              padding: 3px 5px;
              color: #446ee7;
              font-size: 16px;
              cursor: pointer;
              background-color: transparent;
              font-weight: 600;
              transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
              &:hover {
                background-color: #f0f4ff;
              }
            }
          }
          .process-bar-container {
            margin: auto;
            padding: 5px;
            width: 100%;

            .process-bar {
              height: 8px;
              background: #e4e5e7;
              border-radius: 999px;
              width: 100%;
              position: relative;
              &.first::after {
                content: "";
                height: 8px;
                border-radius: 999px;
                width: 95%;
                background-color: #ffb33e;
                position: absolute;
              }
              &.fourth::after {
                content: "";
                height: 8px;
                border-radius: 999px;
                width: 5%;
                background-color: #ffb33e;
                position: absolute;
              }
            }
          }
          .star-num {
            color: #446ee7;
            font-size: 16px;
            font-weight: 500;
            padding-bottom: 5px;
          }
        }
        .ranking {
          h5 {
            font-size: 16px;
            font-weight: 600;
            margin: 5px 0 15px 0;
          }
          p {
            font-size: 16px;
            font-weight: 600;
            color: #95979d;
            margin-bottom: 0px;
          }
        }
      }
      .review-filter {
        padding-bottom: 20px;
        border-bottom: 1px solid #c5c6c9;
        h3 {
          font-size: 18px;
          font-weight: 700;
          margin-bottom: 18px;
        }
        .search-form {
          max-width: 350px;
          input {
            width: 400px;
            outline: none;
            border-radius: 4px 0 0 4px;
            border: 1px solid #c5c6c9;
            padding: 10px 2px 10px 16px;
            font-size: 16px;
            color: #62646a;
            &::placeholder {
              color: #c5c6c9;
              font-weight: 600;
            }
          }
          button {
            padding: 8px 16px;
            background-color: #222325;
            border-radius: 0 4px 4px 0;
            svg {
              fill: #fff;
            }
          }
        }
      }
    }
    .review-comment {
      li {
        border-bottom: 1px solid #c5c6c9;
      }
      .reviewer-name {
        h3 {
          font-size: 16px;
          line-height: 24px;
          font-weight: 600;
          color: #404145;
          margin-right: 6px;
        }
      }
      .reviewer-comment-del {
        svg{
          font-size: 20px;
          transition: all 0.3s;
          cursor: pointer;
        }
        svg:hover {
          color: red;
        }
      }
      .reviewer-country {
        margin-bottom: 20px;
        .country-name {
          color: #62646a;
          font-weight: 500;
        }
      }
      .comment {
        color: #404145;
        font-size: 16px;
      }
      .reviewer-helpful {
        .helpful-title {
          color: #404145;
          font-weight: 600;
        }
        .helpful-thumb {
          svg {
            cursor: pointer;
          }
          span {
            cursor: pointer;
            font-weight: 600;
          }
        }
      }
    }
    .add-comment {
      h2 {
        font-size: 20px;
        color: #404145;
        font-weight: 700;
        margin-bottom: 30px;
      }
      textarea {
        width: 100%;
        padding: 10px 12px;
        border-radius: 5px;
      }
      button {
        display: inline-block;
        padding: 8px 20px;
        border-radius: 5px;
        border: none;
        color: #fff;
        background-color: $primary-color;
        font-weight: 500;
        margin-top: 10px;
      }
    }
  }

  .check-out {
    border: 1px solid #dadbdd;
    position: sticky;
    top: 0;
    &-header {
      ul {
        .nav-item {
          width: calc(100% / 3);
          .nav-link {
            border: none;
            border-bottom: 2px solid #dadbdd;
            font-weight: 700;
            padding: 16px;
            border-radius: 0;
            width: 100%;
            background-color: #fafafa;
            color: #74767e;
            &.active {
              color: $primary-color;
              border-bottom: 2px solid $primary-color;
              background-color: #fff;
            }
            &.center {
              border-right: 1px solid #dadbdd;
              border-left: 1px solid #dadbdd;
            }
          }
        }
      }
    }
    &-body {
      padding: 24px 24px;
      .price {
        .title {
          font-size: 24px;
          font-weight: 600;
        }
      }
      .description {
        margin: 20px 0 !important;
        color: #62646a;
      }
      .additional-info {
        svg {
          fill: #62646a;
        }
        span {
          font-weight: 600;
          color: #62646a;
        }
      }
      .fearture {
        span {
          margin-bottom: 2px;
          color: #95979d;
          font-weight: 600;
        }
      }
    }
    &-footer {
      padding: 0 24px 12px;
      .submit {
        border: 1px solid transparent;
        border-radius: 4px;
        cursor: pointer;
        width: 100%;
        font-size: 16px;
        font-weight: 600;
        line-height: 100%;
        padding: 12px 24px;
        position: relative;
        text-align: center;
        transition: 70ms cubic-bezier(0.75, 0, 0.25, 1);
        background-color: $primary-color;
        color: #fff;
        &:hover {
          background-color: $dark-primary-color;
        }
      }
      .compare {
        display: inline-block;
        width: 100%;
        text-align: center;
        padding: 12px;
        color: $primary-color;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  .mobile {
    position: relative;
    display: none;
  }
  // scss pháº§n chung
  .star {
    svg {
      vertical-align: auto;
      margin-bottom: 3.5px;
    }
  }
  .star-score {
    margin: 0 4px;
    font-weight: 700;
    color: #ffb33e;
  }
  .rating {
    font-weight: 500;
  }
}

@media screen and (max-width: 992px) {
  .job-detail {
    .container {
      display: block !important;
      .col-7 {
        width: 100%;
      }
      .col-4 {
        width: 100%;
        .check-out {
          display: none;
        }
      }
      .mobile {
        display: block !important;
      }
      .review-count {
        display: block !important;
        .sort {
          margin-top: 20px !important;
          .pre-title {
            padding-left: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 765px) {
  .job-detail {
    padding-top: 100px;
    &-link {
      display: none;
    }
    .comment-rating {
      display: block !important;
      .d-flex {
        padding-top: 20px;
      }
    }
  }
}
